:root {
  --color-primary: rgb(247, 248, 248);
  --color-secondary: rgba(255, 255, 255, 0.05);
  --font-heading: Inter Variable;
  --font-body: Inter Variable;
  --space-1: 1px;
  --space-2: 4px;
  --space-3: 7px;
  --space-4: 8px;
  --space-5: 11px;
  --space-6: 12px;
  --space-7: 16px;
  --space-8: 19px;
  --space-9: 19.2031px;
  --space-10: 20px;
  --space-11: 22px;
  --space-12: 24px;
  --space-13: 28px;
  --space-14: 32px;
  --space-15: 35px;
  --space-16: 39px;
  --space-17: 48px;
  --space-18: 56px;
  --space-19: 96px;
  --space-20: 128px;
}
